@media (min-width:500px) {
    .all_systems img,
    .featured-games img,
    .game-details img,
    .game-in-cart img {
        max-width: 150px;
    }

    .game_button {
        margin-top: 50px;
    }

    .container {
        max-width: 450px;
    }
}

@media (min-width:650px) {
    .all_systems img,
    .featured-games img,
    .game-details img,
    .game-in-cart img {
        max-width: 180px;
    }


    .searchbar {
        width: 550px;
    }

    .game_button {
        margin-top: 80px;
    }

    .container {
        max-width: 550px;
    }
    .buttons{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-evenly; 
        gap: 50px;
    }

    button {
        font-size: 20px;
        width: 300px;
    }

    .create {
        font-size: 20px;
        width: 300px;
    }
}



@media (min-width:800px) {
    .welcome {
        display: block;
    }
    
    .phrase{
        display: block;
    }

    .all_systems img,
    .featured-games img,
    .game-details img,
    .game-in-cart img {
        max-width: 200px;
    }

    .searchbar {
        width: 700px;
    }

    .game_button {
        margin-top: 80px;
    }

    .cta-menu {
        min-width: 300px
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .cta-large {
        font-size: 20px;
    }

    .container {
        max-width: 700px;
    }


}

@media (min-width:1000px) {
    .featured-games,
    .game-details,
    .game-in-cart {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .phrase {
        max-width: 600px;
    }

    .searchbar {
        width: 900px;
        padding: 10px;
    }

    .searchbar_line {
        padding: 20px;
    }

    .systems {
        display: flex;
        flex-direction: row;
    }

    .game_button {
        margin-top: 90px;
    }

    .cta-large {
        font-size: 30px;
    }

    .price {
        font-size: 25px;
    }

    .container {
        max-width: 900px;
    }

    input {
        font-size: 30px;
    }

    .buttons {
        gap: 200px;
    }
    
    button {
        max-width: 400px;
        max-height: 70px;
        margin-top: 30px;
        font-size: 35px;
    }

    .create {
        max-width: 400px;
        max-height: 40px;
        margin-top: 30px;
        font-size: 35px;
    }

    .shopping-cart {
        width: 70px;
    }

    

}

@media (min-width:1300px){
    .all_systems img,
    .featured-games img,
    .game-details img,
    .game-in-cart img {
        max-width: 250px;
    }


    .cta-large {
        font-size: 35px;
    }

    .price {
        font-size: 32px;
    }

    .container {
        max-width: 1250px;
    }

    .cta-menu {
        min-width: 400px;
        font-size: 30px;
    }
}
